extends layout
block body
    .container-fluid
        .row
            .col-xs-12
                h1 #{fbname} Configuration

                table.table.table-hover
                    thead
                        tr
                            td Key
                            td Value
                            td Description
                    tbody
                        each config, index in configs
                            tr
                                td= config.key
                                td= config.value
                                td= config.description

